<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group">
      <div class="list-group-item">
        <h1>Welcome<br/>
        <small>This is a demo of an hybrid mobile app with a JEE backend</small>
        </h1>
      </div>
      <div class="list-group-item media">
        <div class="pull-left">
          <i class="fa fa-gamepad feature-icon"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Play around a little</h3>
            Open the sidebar and start testing features
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-left">
          <i class="fa fa-tachometer feature-icon"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Browser development</h3>
            The frontend can be completly developed with the commandline, a text editor and a webbrwoser.
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-left">
          <i class="fa fa-expand feature-icon"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Support for mobile and desktop</h3>
            Mobile Angular UI helps to support both mobile and desktop versions.
        </div>
      </div>

      <div class="list-group-item media">
        <div class="pull-left">
          <i class="fa fa-stethoscope feature-icon"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Submit an issue</h3>
            Please submit any issue you'll find. It would help a lot!
        </div>
      </div>


    </div>

  </div>
</div>
