<div content-for="title">
  <span> Users </span>
</div>
<div class="scrollable">
  <div class="scrollable-content"> 
    <div id="userErrorMsg" ng-if="!users" class="list-group-item">No users found.</div>
    <div id="userListing" class="list-group">        
        <a ng-repeat="user in users" href="#/users/{{user.username}}" class="list-group-item media">
          <div class="pull-left">
            <i class="fa fa-user chat-user-avatar"></i>
          </div>
          <div class="media-body">
            {{ user.firstname }} {{ user.lastname }}
            <br>
            {{ user.username }} 
             <i class="fa fa-chevron-right pull-right"></i>
          </div>
        </a>
    </div>
  </div>
</div>