# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

.idea/workspace.xml
app/.classpath
app/.project
app/target/*
app/platforms/ios/angularCordovaApp.xcodeproj/xcuserdata/*
app/platforms/ios/angularCordovaApp.xcodeproj/project.xcworkspace/*
app/platforms/ios/www/*
app/node_modules/*
app/bower_components/*
app/node/*
app/.classpath
app/www/*
app/.tmp*

server/.project
server/.settings/org.eclipse.jdt.core.prefs
server/.classpath
server/mem.h2.db
server/logs/*

webtest/target/*
webtest/.classpath
webtest/.project

**/.settings/*
*.pageflow
.project
target/*
